/* Importando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #272727;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh; /* O contêiner ocupa 100% da altura da janela */
}

.static-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#cursor, #text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    max-width: 500px;
    color: white;
}

#cursor {
    animation: blink 0.5s step-start infinite;
    margin-left: 2px;
    padding-right: 8px;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#logo {
    width: 250px;
    height: 60px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    color: white;
}

.social-icons a {
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
    color: white;
}

.social-icons a:hover {
    color: #007bff;
}

/* Estilo para o conteúdo adicional */
.page-break {
    height: 100vh; /* Nova "página" ocupando a altura da janela */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.card {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .divider {
    margin: 10px 0;
  }
  