@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

.static-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#cursor {
    animation: blink 0.5s step-start infinite;
    margin-left: 2px;
    /* Ajuste conforme necessário */
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    max-width: 500px;
    padding-right: 8px;
    color: white;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#text {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    max-width: 500px;
    padding-right: 8px;
    color: white;
}

#logo {
    width: 250px;
    height: 60px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    place-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Espaço entre os ícones */
    padding-top: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #000;
    /* Cor dos ícones */
    font-size: 24px;
    /* Tamanho dos ícones */
    transition: color 0.3s;
    color: white;
}

.social-icons a:hover {
    color: #007bff;
    /* Cor dos ícones ao passar o mouse */
}